/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    min-width:850px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*MAIN*/
body {
    font-size: 1.05em;
    line-height: 1.25em;
    font-family: Helvetica Neue, Helvetica, Arial;
    background: #ffffff;
    color: #000;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #444;
}

img {
    /*width: 100%;*/
}

header {
    background: #fff;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#logo {
    padding: 0px 60px;
    float: left;
    /*background: url(../img/logo.png) no-repeat center;*/
    display: block;
    color: black;
}

nav {
    float: right;
    padding: 20px 50px;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background: url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
    background-color: black;
    border-radius: 4px 4px 0 0;
    background: url(../img/menu-icon-neg.png) center;
}

a {
    color:black;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    float: left;
    padding: 10px
}

section {
    margin: 100px auto 40px;
    max-width: calc(100% - 120px);
    position: relative;
    padding: 20px
}

section.doc {
    max-width: 65%;
}

.doc > p {
    clear:both;
    margin:10px;
}

.doc > p > img {
    width:250px;
    margin:0px 10px;
}

section.contact {
    max-width: 65%;
}

.contact > div:first-child {
    padding: 30px 0px;
}

h1 {
    font-size: 2em;
    color: black;
    line-height: 1.15em;
    margin: 20px 0;
}

h2 {
    font-size: 1.5em;
}

h2 > a > img {
    height:23px;
    width:23px;
}

p {
    line-height: 1.45em;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 33% auto;
    grid-gap: 50px;
}

.gridApp {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    text-align:justify;
}

    /*.gridApp > div > img {
        max-height:450px;
    }*/

.gridPhoto {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.gridContact {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

    .gridContact > div > input[type="submit"] {
        float: right;
    }

    .gridContact > div > input[type="text"], textarea {
        width: calc(100% - 24px);
        padding: 10px;
        border: 2px solid black;
    }

.grid-item {
    
}

.grid-item-margin > div:first-child {
    margin-bottom:20px;
}

.grid-item--2-span {
    grid-column: span 2;
}

.grid-item--3-span {
    grid-column: span 3;
}

.grid-item--4-span {
    grid-column: span 4;
}

.grid-item--5-span {
    grid-column: span 5;
}

.grid-item > h1:first-child {
    margin-top:0px;
}

img{
    max-width:100%;
    max-height:100%;
}

/*MEDIA QUERY*/
@media only screen and (orientation: portrait) {
    header {
        position: absolute;
    }

    body {
        font-size:1.5em;
    }

    h2 {
        margin-bottom:20px;
    }

        h2 > a > img {
            height: 30px;
            width: 30px;
        }

    #menu-icon {
        display: inline-block;
    }

    nav {
        padding: 30px 50px;
    }

    header > nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid black;
        right: 50px;
        top: 70px;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    nav:hover ul {
        display: block;
    }

    footer > nav > ul {
        list-style: none;
    }

    footer > nav > ul> li {
        display: inline-block;
        float: left;
        padding: 10px;
        width:initial;
    }

    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    .gridApp {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    .gridPhoto {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    .gridContact {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    .grid-item-mobile-show {
        grid-column: span 2;
    }

    .grid-item-mobile-show > img {
        margin:auto;
    }

    .grid-item-mobile-hide {
        display: none;
    }

    .grid-item--2-span {
        grid-column: 1;
    }